@model SignalRLessons.Models.ViewModels.LoginVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="small-container">
    <div class="top-page-header">Войти</div>

    <div class="identity-cintainer">
        <form asp-action="Login" asp-antiforgery="true" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReturnUrl" />

            <label class="form-label" asp-for="UserName"></label><br>
            <span asp-validation-for="UserName"></span>
            <input class="form-entry-title" type="text" asp-for="UserName"><br>

            <label class="form-label" asp-for="Password"></label><br>
            <span asp-validation-for="Password"></span>
            <input class="form-entry-title" type="password" asp-for="Password"><br><br>

            <input class="form-submit" type="submit" value="ВОЙТИ"><br>
            <a asp-action="PasswordRecovery"><h5>Забыли пароль? ну и ладно! сам виноват! все равно эта ссылка не работает</h5></a>

            <a asp-action="Registration"><h5>Регистрация</h5></a>
        </form>
    </div>
</div>
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}