@model SignalRLessons.Models.DBO.User
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewData["Header"]</h3>
<h3>@Model.Name</h3>
<h3>@Model.Email</h3>
<img src="@Model.Photo" />
<h3></h3>
<h3></h3>
<h3></h3>